{% extends "base.html" %}
{% block content %}

<div class="form" class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12" class="bg-dark text-white">
        <p class="bg-dark text-white">
                    {{ message }}
                </p>
        <form action="?" method="post" class="form-inline">
          <!-- <ul class="transportation">
            <li>
              <label></label><input type="radio" name="transport" value="transit" checked>トータルナビ</label>
            </li>
            <li>
              <label></label><input type="radio" name="transport" value="car">車</label>
            </li>
            <li>
              <label></label><input type="radio" name="transport" value="walk">徒歩</label>
            </li>
          </ul> -->
          <label for="place" class="bg-dark text-white">駅名または地点名</label>
          <input type="text" class="form-control" id="place" name="place" placeholder="例）津田沼駅" autocomplete="off">
          <div class="transportation">
            <button type="submit" name="_method" value="post" formaction="/transit">電車・航空 ＞</button>
            <button type="submit" name="_method" value="post" formaction="/walk">徒歩 ＞</button>
            <button type="submit" name="_method" value="post" formaction="/car">車 ＞</button>
          </div>
          <!-- <button type="submit" class="btn btn-success">送信する</button> -->
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
